.content_wrapper {
  position: relative;
  flex-grow: 1;
  height: 80%;
  margin-top: 2.4rem;
}

.scroll_wrapper {
  overflow: auto;
  height: 100%;
  background-color: #F4F4F6;
}

.canvas_wrapper {
  font-size: 1em;
  width: 800em;
  height: 600em;
  box-sizing: content-box;
  background-color: #FFFFFFFF;

  transform: translate(0%, 0%) scale(1);
  will-change: transform;
}

.canvas {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #F2F2F3;
  transform: translate(0, 0);
  cursor: grab;

  background-position: 0 0, 30em 30em;
  background-size: 60em 60em;
  background-image: linear-gradient(
    45deg,
    #F4F4F6 25%,
    transparent 25%,
    transparent 75%,
    #F4F4F6 75%
  ),
    linear-gradient(45deg, #F4F4F6 25%, transparent 25%, transparent 75%, #F4F4F6 75%);
}
